.fundo{
    background-color:rgba(233, 225, 225, 0.945);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-top: 50px;
    height: 600px;
    width: 550px;
    border-radius: 5px;   
}

.campos{
    margin-top: 100px;
}

.foto{
    position: absolute;
    background-color:rgba(66, 134, 211, 0.945);
    margin-left: 350px;
    height: 130px;
    width: 130px;
    border-radius: 80px;  
     
} 
     

.fundo .contentForm .botao {
    background: rgb(185, 0, 0);
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    
    
}

