.fundo{
    
    background-color:rgba(233, 225, 225, 0.945);
    margin-left: 50px;
    padding: 20px;
    margin-top: 50px;
    height: 550px;
    width: 580px;
    border-radius: 5px;   
    
}


/* .fundo2{
    position: absolute;
    background-color:rgba(163, 39, 39, 0.945);
    margin-left: 500px;
    padding: 5px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50px;  
     
}  */
     

.botao{
    border-radius: 5px;
    background-color: rgb(243, 29, 29);
    height: 40px;
    width: 130px;    
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 60px ;
    
}
