* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .imageconfirm #desenho{
    position: relative;
    width: 240px;
    height: 250px;
    left: 140px;
    margin-top: 190px;
  }
  
  .imageconfirm #texxia{ 
    position: relative;

    width: 325px;
    bottom: 245px;
    right: 140px;
    
    }
  
    .confirmbox {
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      position: absolute;
      width: 550px;
      height: 325px;
      left: 600px;
      background: rgba(231, 231, 231, 0.5);
      border-radius: 20px;
      top: 100px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      }
    
    .confirmbox h1 {
      margin-bottom: 170px;
      text-align: center;
    }
  
    .confirmbox .confirmlink {
      position: relative;
      width: 150px;
      height: 40px;
      left: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 33px;
      color: #FFFFFF;
      background: rgba(144, 19, 254, 0.8);
      border: 1px solid #9013FE;
      box-sizing: border-box;
      border-radius: 5px;
      bottom:120px;
    }

    .confirmbox .confirmlink:hover{
     
      font-size: 18px;
    }
  
  