.homeContent{    
    width: 100%;
    height: 100%;    
}

.homeContent .addBot{
    position: absolute;
    right: 20px;
    top: 100px;
}

.cardBots{
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardBots .cardBots-Content{    
    max-width: 300px;
    margin: 10px 14px;
}

.modalContent .editBotModal{
    padding: 20px 0;
    max-width: 300px;
    width: 100%;    
}
.modalContent .editBotModal .MuiInput-underline:before{
    border-bottom-color: rgb(168, 168, 168);  
}
.modalContent .editBotModal .MuiInput-underline:after{
    border-bottom-color: rgb(92, 0, 128);    
}
.modalContent .editBotModal .MuiInput-root{
    color: #fff;
}
.modalContent .editBotModalPhone{
    padding: 20px 0;
    max-width: 300px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #a5a5a5d9;
    outline: 0;
}
.modalContent .editBotModalPhone:hover{    
    border-color: #3F5AA9;
}