* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* TEXTO DA DIV  */
  .principallogin p{
    position: absolute;
    width: 455px;
    height: 35px;
    top: 205px;
    left: 180px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color:  rgba(0, 0, 0, 0.85);
  }

  

  /* IMAGEM DESENHO */
  .loginboximage #desenho {
  position: relative;
  top: 280px;
  right: 293px;
  }
  
  /* IMAGEM TEXXIA */
  .loginboximage #texxia {
    position: relative;
    bottom: 40px;
    right: -70px;
    width: 350px;
    
  }
  
  
  /* box de login */
  .loginbox {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 550px;
  height: 485px;
  left: 725px;
  background: rgba(231, 231, 231, 0.5);
  border-radius: 20px;
  top: 50px;
  justify-content: center;
  align-items: center;
  
  }

 
  .loginbox .registerlink {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
  }


  
  /* texto login  */
  
  .loginbox #text-login {
    position: absolute;
    font-weight: bold;
    font-size: 27px;
    top: 40px;
    color: rgba(144, 19, 254, 0.8);
  }
  
  /* input de email */
  
  .loginbox #input1 {
  
  position: absolute;
  width: 385px;
  height: 55px;
  top: 115px;
  background: rgba(63, 61, 86, 0.85);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  padding-left: 20px;
  outline: 0;
  }

  /* input de email hover */

  .loginbox #input1:focus{
      border: 3px solid rgba(144, 19, 254, 0.8);
  }
  
  /* input de senha */
  
  .loginbox #input2 {
    position: absolute;
    width: 385px;
    height: 55px;
    top: 195px;
    background: rgba(63, 61, 86, 0.85);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
    outline: 0;
  }
  .loginbox #input2:focus{
    border: 3px solid rgba(144, 19, 254, 0.8);
}

  
  ::-webkit-input-placeholder {
    color: #BBB8BD;
  }
  
  
  /*  button de login  */
  
  .loginbox .buttonlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: absolute;
    width: 200px;
    height: 55px;
    top: 273px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background: rgba(144, 19, 254, 0.8);
    border-radius: 5px;
    outline: 0;
  }
  
  .loginbox .buttonlogin:hover{
    width: 201px;
    height: 56px;
    
    border: 3px solid rgba(136, 0, 255, 0.8);
  }

    
  /* text de não tem conta */
  
  
  .loginbox #text {
    position: absolute;
    top: 365px;
    font-weight: bold;
    font-size: 14px;
    color: #BBB8BD;
  }
  
  /* text de não tem conta COLOR */
  
  #text span {
    color: rgba(144, 19, 254, 0.8);
  }

  #text span:hover {
    font-size: 16px;
  }
  
  /* text de ESQUECI MINHA SENHA */
  
  .forgotlink {
    position: absolute;
    top: 389px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(144, 19, 254, 0.8);
    outline: 0;
  }

  .forgotlink:hover{
    font-size: 16px;
  }
