<<<<<<< HEAD

=======
>>>>>>> 86ce56bc6b5d3b3a7d6587365ef57465f4216bd3
  .pagerecover {
    background-color: #121214;
    height: 100vh;
  }
  
  .recovery {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recovery h1{
    bottom: 340px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    font-size: 20px;
  }
  
  .recovery input { 
  
    margin-top: 12px;
    width: 300px;
    height: 45px;
    border: 3px solid #28272C;
    background-color: #121214;
    padding: 0 10px;
    outline: 0;
    color: #fff;
  
  }
  
  .recovery input:focus { 
  
  border: 3px solid rgba(144, 19, 254, 0.8); ;
  
  }
  .recovery .LinkButton{
    
    text-align: center;
    top: 220px;
    margin-top: 130px;
    position: absolute;
    padding: 10px 105px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: rgba(144, 19, 254, 0.8);
    border-radius: 5px;
    outline: 0;
  
  }

  .recovery .LinkButton:hover{
    font-size: 16px;

  }
  
  .recovery .Link {
    margin-top: 185px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .recovery .Link:hover {
    color:  rgba(144, 19, 254, 0.8); ; 
    font-size: 18px;
  }
    