*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html, body, .root{
  height: 100% !important;
}
body{
  overflow-x: hidden;
  background: rgba(231, 231, 231, 0.219);
}

header{  
  -webkit-box-shadow: 1px 4px 10px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 10px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 10px -7px rgba(0,0,0,0.75);
  background: #fff;
  width: 100%;
  height: 80px;  
  text-align: center;
  border-bottom: 1px solid rgb(189, 189, 189);
}

header .box-logo{
  text-align: left;
  position: absolute;
  top: 10px;
  padding-left: 50px;
}
.box-logo img{
  width: 210px;
  height: 55px;
}
header ul{
  text-align: right;  
  margin-right: 80px;  
}
header ul li{
  list-style-type: none;
  display: inline-block;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  padding: 0 15px;
  padding-top: 40px;
}
.blocos{
  width: 250px;
  height: 100%;
  border-right: 1px solid #1111113f;
  text-align: center;
  overflow-y: auto;
  position: fixed;
}
/* .blocos .addBloco{
  margin-top: 40px;  
  margin-bottom: 40px;
  padding: 10px 30px;
  display: inline-block;  
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #1111113f; 
  border-radius: 5px;
  background: #8722c5;
  color: #fff;
  -webkit-box-shadow: -1px 6px 7px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 6px 7px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 6px 7px -5px rgba(0,0,0,0.75);
}
.blocos .addBloco:hover{
  background: #6a1b9a;
} */

.blocos i{
  display: inline-block;
}
.blocos p{  
  border: 1px solid rgb(92, 0, 128);
  color: #000;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 5px;
  margin: 15px 20px;
  cursor: pointer;
  transition: 0.5s;  
}

.blocos p:hover{
  transform: translateY(-0.15em);
  background: rgb(92, 0, 128);
  color: #fff;
  -webkit-box-shadow: 0px 20px 15px -15px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 20px 15px -15px rgba(0,0,0,0.67);
  box-shadow: 0px 20px 15px -15px rgba(0, 0, 0, 0.849);
}

.loadingIcon{
  width: 120px;
  height: 119px;
}

.modal{
  text-align: center;    
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  
  z-index: 99;
}
.modalContent{
  width: 500px;
  min-height: 250px;
  /* padding: 40px 20px; */
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);  
  border-radius: 5px;
}
.modalHeader{  
  width: 100%;
  height: 40px;
  background: rgb(92, 0, 128);
  border-radius: 5px;  
  display: flex;
  padding: 0 10px;
  margin-bottom: 40px;
}
.modalHeader h1{
  font-size: 20px;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
}
.modalHeader .icon{
  margin-top: 3px;
  width: 30px;
  height: 29px;
}
.modalContent ul{
  margin: 40px 0;
}
.loadingContent{  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);    
}
.modalContent i{
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 22px;
  color: red;
  cursor: pointer;
}

.modalContent h3{
  margin-bottom: 30px;
}
.modalContent .formSelect{
  margin-top: 40px;
}
.modalContent .namesBlocos{  
  width: 250px;
  /* height: 35px; */
  /* border: 1px solid rgb(92, 0, 128);   */
  border-radius: 5px;
  padding: 0px 5px;
  /* outline: 0; */  
}
.modalContent .namesBlocos .option{   
  font-size: 10px;
}

.modalContent .addBlocoModal{    
  /* border: 0.5px solid rgb(92, 0, 128); */
  background: rgb(133, 0, 185);
  color: #fff;
  padding: 10px 10px;    
  border-radius: 5px;  
  cursor: pointer;
  margin: 20px 140px;  
  margin-bottom: 30px;
  transition: 0.3s;
}
.modalContent .addBlocoModal:hover{  
  background: rgb(92, 0, 128);
  color: #fff;
}

.builder{  
  position: absolute;
  left: 250px;
  top: 80px;
  width: calc(100% - 250px);
  height: calc(100% - 80px);
}

.initPage h2{
  margin-top: 80px;
  font-size: 4em;
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
}
.initPage .texxia{
  margin-top: 50px;
  text-align: center;
}
.initPage .texxia img{
  width: 410px;
  height: 270px;
}